*{
    font-family: 'Nanum Brush Script', cursive;
}

.main{
    width: 500px;
    margin: 0 auto;
    justify-content: center;
}

h1{
    margin-top: 50px;
    text-align: center;
}

input[type="text"]{
    width: 385px;
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.5em;
    background: white;
    margin-right:10px;
    padding: 5px;
}

button{
    width: 40px;
    height:40px;
    font-size: 1.5em;
    background-color: aqua;
    outline:0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
}

.todolist{
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px 40px 10px 0px;
}

a{
    float: right;
    text-align: center;
    color:black;
    font-size: 1.2em;
    margin-top: 20px;
    cursor: pointer;
}

a:hover{
    color: grey;
}

ul {
    list-style: none;
}

li{
    border-bottom: solid 1px rgba(171, 171, 171, 0.614);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.del, .com{
    margin: 2px;
    width: 20px;
    height: 20px;
    font-size: 5px;
    text-align: center;
    background-color: aqua;
    
}

button:hover{
    background-color: aquamarine;
}